hr
{
    background-color:darkred;
    inline-size: 100px;
    margin-top: 3rem!important;
    margin-bottom: 3rem!important;
    border-width: 5px!important;
}

h3
{
color: darkred;
margin-top: 3rem!important;
margin-bottom: 3rem!important;
font-size: 30px!important;
font-family: 'Oswald', sans-serif;
}

/*---------------------------------------------------------------------header */
 
 .ticket-button
{
margin-left:400px;

}

.ticket-button a
{
color:white;
font-family: 'Oswald', sans-serif;
font-size:20px;
}

.ticket-button a:hover
{
    color:white;
}

.navbar
{
    background-color:darkred;
    font-family: 'Oswald', sans-serif;
    font-size:20px;
}

.navbar a
{
    color: white;
}

.nav-link:hover
{
    color:white;
}

a.dropdown-item
{
    color:black;
}

.btn .btn-sm
{
    background-color: blue;
}

.navbar-brand:hover {
    color: white;
}
/*---------------------------------------------------------------------footer */
footer
{
     background-color:darkred;
     color: white;
     font-family: 'Oswald', sans-serif;
}

.main-footer
{
    text-align: center;
}

.contact-footer
{
    text-align:center;
    margin-top:60px;
}

.footer-links
{
    margin-top:75px; 
    text-align: right;
}

.text-left
{
    margin-top:80px;
    margin-left:20px;
}

.row a
{
    color:white!important;
}

.falow
{
    display: inline;
    margin-right: 10px;
}

.row a 
{
    color: white!important;
    padding-right: 5px;
}

.footer-1
{
    padding-right: 15px;
}

/*---------------------------------------------------------------------index.html */

/* Credit for code snipet for perfect bacground 
https://css-tricks.com/perfect-full-page-background-image/ */

.callout-container 
{
    height: 100vh;  
    background: URL("../images/main.jpg") 
    no-repeat, bottom, right, fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/* Credit for code snipet for perfect bacground 
https://css-tricks.com/perfect-full-page-background-image/ */

.jumbo-container
{
    background: transparent;
}

.jumbotron
{
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
    background: transparent!important;
}

a.btn{
   margin-left:270px;
   background-color: darkred!important;
   margin-top:20px;
}

h1.display-4
{
    color:darkred;
    font-size: 60px;
    font-family: 'Oswald', sans-serif;
    
}

p.lead
{
    color:darkred;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
}

.index-p
{
    font-family: 'Josefin Slab', serif;
    font-size:20px;
}

.booking-container
{
    background-color:lightgray!important;
    margin-bottom: 3rem;
}

.music-container
{
    background-color: lightgrey!important;
}

.about-me
{
    text-align: justify;
}

.about-me p
{
    margin-left:350px;
    max-width: 50%;
}

.my-button
{
    margin-left:650px!important;
}

.index-video
{
   margin-left: 440px;
    padding-top:50px;  
    padding-bottom: 50px;
}

.other-button
{
    margin-right: 700px;
    margin-left:210px!important;
    background-color: darkred!important;
}

a.btn{
   margin-left:270px;
   background-color: darkred!important;
   margin-top:20px;
}

/*---------------------------------------------------------------------about-me.html */

.about-row
{
    margin-bottom:3rem;
    background-color: lightgray;
    padding: 30px 30px;
}

.first-row
{
    background-color: lightgray;
    padding: 30px 30px;
}

.persu
{
    right: 0px!important;
    left: 0px!important;
}

p.about
{
    max-width: 50%;
    text-align: justify;
    margin-left:200px;
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
    
}

@media all and (max-width:375px)
{
    p.about
    {
        font-size:20px;
        margin-left:10px;
        max-width: 100%;
    }
    .about-pic
    {
        overflow: hidden;
    }

    .about-pic
    {
        max-width: 270px;
    }
}

@media all and (max-width:575px)
{
    p.about
    {
        font-size:20px;
        margin-left:10px;
        max-width: 100%;
    }
    .about-pic
    {
        overflow: hidden;
    }

    .about-pic
    {
        max-width: 340px;
    }
}
/*---------------------------------------------------------------------book-me.html */

.booking-form 
{
    max-width: 500px;
    margin-left: 300px;
}

h3.booking-h3
{
color: darkred;
margin-top: 3rem!important;
margin-bottom: 0.5rem!important;
font-size: 30px!important;
}

.booking-p
{
    margin-bottom: 3rem;
    font-family: 'Josefin Slab', serif;
    font-size:20px;
}

.submit-button
{
    margin-bottom: 1rem;
    margin-top: 3rem;
    margin-left: 11rem!important;
}

.book-form
{
    background-color: lightgray;
    padding: 30px 30px;
    margin-bottom: 3rem;
}
/*---------------------------------------------------------------------my-music.html */

.song1
{
    display: inline;
}

.my-songs
{
    background-color: lightgray;
    border:solid 1px black;
}

.gipsy-boys
{
    background-color: lightgray;
    border:solid 1px black;
}

.my-video
{
    background-color: lightgray;
    border:solid 1px black;
}

.music-p
{
    margin-left:350px;
    max-width: 50%;
    font-family: 'Josefin Slab', serif;
    font-size:20px;

}

.solo-songs
{
    color:darkred;
    font-family: 'Oswald', sans-serif;
    margin-left:2rem; 
}

.euro-song
{
    margin-left:340px;
}

.song
{
    margin-left:2rem;
}

.last-p
{
    color:darkred;
    font-family: 'Oswald', sans-serif;
}
/*---------------------------------------------------------------------uk-tour.html */

/* Credit for code to Code Institute learning video
about how to make portfolio*/


.timeline-item
{
    padding: 4em 2em 0em 2em;
    position: relative;
    color: darkred;
    border-left: 1px solid;
}

.timeline-item p
{
    padding: 0;
    margin: 0;
}

.timeline-item:before
{
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: 'Josefin Slab', serif;
    font-weight: 500;
    font-size: 1em;
    padding: 0;
    margin: 0;
}

.timeline-item:after
{
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background:darkred;
}

/* Credit for code to Code Institute learning video
about how to make portfolio*/


.secound-video
{
    padding-top: 3rem;
}

.tour-video
{
    margin-left:3rem;
}

.tour-button
{
    background-color: darkred!important;
    margin-left:610px!important;
}

.h5-heading
{
    color:darkred;
    font-family: 'Oswald', sans-serif;

}
.tour-p
{
    font-family: 'Josefin Slab', serif;
    font-size:20px;
    
}


/*finish*/