body {
 
}


.callout-container {
    height: 100vh;

  background: URL("../images/main.jpg") no-repeat, bottom, right, fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
   
}
.jumbo-container{
    background: transparent;
}

.persu {
   
    right: 0px;
    left: 200px;
}